@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
:root {
    --cor-primaria: #462832;
    --cor-secundaria: #018D73;
    --cor-terciaria: #FF0147;
    --cor-sombra: #67424A;

    --fonte-primaria: 'Krona one', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    height: 350px;
    bottom: 235px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 18%;
}
.cabecalho {
    position: absolute;
    width: 299px;
    height: 29px;
    left: 360px;
    top: 150px;
}
.cabecalho_menu {
    display: flex;
    gap: 90px;
}
.cabecalho_menu_link {
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
strong {
    color: var(--cor-terciaria);
}
.apresentacao {
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao_conteudo {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: absolute;
    width:38.44rem;
    height: 30.13rem;
    top: 17.38rem;
}
.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao_imagem {
    background-size: contain;
    border: 3px;
    position: absolute;
    width: 350px;
    height: 350px;
    left: 900px;
    top: 275px;
}
.apresentacao_links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.apresentacao_links_link {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 280px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    padding: 8.5px -0.5px;
    border: 2px outset var(--cor-terciaria);
}
.apresentacao_links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.4rem;
}
.apresentacao_links_link:hover{
    background-color:var(--cor-sombra);
}